n8n-workflows/Kruidvat Scraper.json
{
  "name": "Kruidvat Scraper",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b19d3af-c8c4-4ba9-b398-293f9c4d18b6",
              "name": "scraper_api_url",
              "value": "http://kruidvat-scraper-api:8000",
              "type": "string"
            },
            {
              "id": "6f6f8131-7431-4ab3-9744-0aa88b9474dd",
              "name": "max_products",
              "value": 100,
              "type": "number"
            },
            {
              "id": "e63f7c5c-892e-4bd6-bd6e-c5c1367aec1c",
              "name": "categories_limit",
              "value": null,
              "type": "string"
            },
            {
              "id": "cd3c904c-e963-41ff-966b-5cec7123265f",
              "name": "webhook_url",
              "value": "http://n8n:5678/webhook/scraper-complete",
              "type": "string"
            },
            {
              "id": "b2ff1ff3-db49-474a-bb8e-4202e320db88",
              "name": "priority",
              "value": "high",
              "type": "string"
            },
            {
              "id": "6422dc02-91b3-41d5-a19a-8da8b629fe68",
              "name": "notify_on_complete",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "6bfc11ec-064c-456f-b178-282fce61beac",
      "name": "Set Kruidvat Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        144
      ],
      "notes": "Configure for Kruidvat scraping - 300 products (optimized for Akamai)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Kruidvat Configuration').item.json.scraper_api_url }}/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "max_products",
              "value": "={{ $('Set Kruidvat Configuration').item.json.max_products }}"
            },
            {
              "name": "categories_limit",
              "value": "={{ $('Set Kruidvat Configuration').item.json.categories_limit }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $('Set Kruidvat Configuration').item.json.webhook_url }}"
            },
            {
              "name": "priority",
              "value": "={{ $('Set Kruidvat Configuration').item.json.priority }}"
            },
            {
              "name": "notify_on_complete",
              "value": "={{ $('Set Kruidvat Configuration').item.json.notify_on_complete }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "77b054ee-9b41-43ec-96cc-a939b72fe78b",
      "name": "Start Kruidvat Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        144
      ],
      "notes": "Start Kruidvat scraper with proper JSON configuration"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cf66a8b-30bc-4912-bacc-69e732ccc2c5",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "ec83d9d3-5f66-4092-ace0-23132848383c",
              "name": "scraper_api_url",
              "value": "={{ $('Set Kruidvat Configuration').item.json.scraper_api_url }}",
              "type": "string"
            },
            {
              "id": "44317888-08a0-4b09-a40d-57edadda4e35",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "fa79a5b2-3459-4fd3-8b31-0a8f107c4180",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "12a8bd52-ea71-4458-9c09-603424c56c32",
      "name": "Format Kruidvat Job Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        144
      ],
      "notes": "Format Kruidvat job information"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "349c28e2-5f3e-4515-857c-27bbcdfdcd40",
      "name": "Wait 10 seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        144
      ],
      "webhookId": "73d5ae76-d40f-4eea-b43a-e85294cab986",
      "notes": "Wait for Kruidvat scraper to start processing (slower due to Akamai)"
    },
    {
      "parameters": {
        "url": "={{ $('Format Kruidvat Job Info').item.json.scraper_api_url }}/progress",
        "options": {
          "timeout": 15000
        }
      },
      "id": "cef86bfd-cdfb-495d-982e-0e48c5fa2c46",
      "name": "Check Kruidvat Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        144
      ],
      "notes": "Use clean /progress endpoint for monitoring Kruidvat scraper"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "idle",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "07abd95c-af84-4355-b139-bd08dd994f76"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6a679da4-b6e3-4b99-aa34-b0dd49262b08"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continue"
            }
          ]
        },
        "options": {}
      },
      "id": "dfbfe92a-7351-45af-8cb1-1a9e124b7d34",
      "name": "Route Based on Completion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1568,
        144
      ],
      "notes": "Route based on API completion status for Kruidvat scraper"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"progress_info\": \"Kruidvat scrape in progress: {{ $json.products_scraped || 0 }} products scraped ({{ $json.progress_percent || 0 }}%)\",\n  \"job_id\": \"{{ $('Format Kruidvat Job Info').first().json.job_id }}\",\n  \"current_task\": \"{{ $json.current_task || 'Processing...' }}\"\n}",
        "options": {}
      },
      "id": "2acd4e7c-32a4-46eb-bebf-3a8b08eb0873",
      "name": "Log Progress",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        160
      ],
      "notes": "Log Kruidvat scraping progress from /progress endpoint"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "6394bb0d-a9ed-4f26-9856-28ca7fd1b779",
      "name": "Manual Trigger",
      "notes": "Manual trigger for testing"
    },
    {
      "parameters": {
        "command": "rm -f /shared-data/results/kruidvat_* /shared-data/jobs/kruidvat_* /shared-data/logs/kruidvat_* && echo \"Kruidvat cleanup completed\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        432,
        144
      ],
      "id": "884d1c9a-9b64-4539-af2f-3c526cf84bcd",
      "name": "Cleanup previous Kruidvat scraping"
    },
    {
      "parameters": {
        "fromEmail": "hello@omfietser.nl",
        "toEmail": "hello@coolbox.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1584,
        512
      ],
      "id": "8e1578fd-6dc9-409e-be6d-195ef8be22cd",
      "name": "Send Kruidvat completion email",
      "webhookId": "0b289efb-0a6d-46d0-81c4-4937af2b753d",
      "credentials": {
        "smtp": {
          "id": "pEwphKw4tqqGXXjt",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        144
      ],
      "id": "690dfccd-bda5-410f-8cd7-4adf1f8ffb84",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scraper-complete",
        "options": {}
      },
      "id": "webhook-scraper-complete-kruidvat",
      "name": "Webhook - Scraper Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1136,
        512
      ],
      "webhookId": "ed0814e0-ad06-48e3-a7ab-36fa0e168a8c"
    },
    {
      "parameters": {
        "jsCode": "// Extract from nested body if it exists, otherwise use direct payload\nconst payload = $input.all()[0].json;\nconst data = payload.body || payload;\n\n// Extract job information\nconst jobId = data.job_id || 'unknown';\nconst status = data.status || 'unknown';\nconst resultsCount = data.results_count || data.products_scraped || 0;\nconst message = data.message || '';\nconst errorMessage = data.error || '';\n\n// Create status-specific content\nlet subject, html;\n\nif (status === 'completed' && !errorMessage) {\n  subject = `✅ Kruidvat Scrape Completed Successfully (${resultsCount} products)`;\n  html = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <div style=\"background: linear-gradient(135deg, #28a745, #20c997); color: white; padding: 20px; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px;\">🛒 Kruidvat Scrape Completed</h1>\n      </div>\n      <div style=\"background: #f8f9fa; padding: 20px; border-radius: 0 0 8px 8px; border: 1px solid #dee2e6;\">\n        <h2 style=\"color: #28a745; margin-top: 0;\">✅ Success!</h2>\n        <p><strong>Products Scraped:</strong> <span style=\"color: #28a745; font-size: 18px; font-weight: bold;\">${resultsCount}</span></p>\n        <p><strong>Job ID:</strong> <code style=\"background: #e9ecef; padding: 2px 6px; border-radius: 4px;\">${jobId}</code></p>\n        <p><strong>Status:</strong> <span style=\"color: #28a745; font-weight: bold; text-transform: uppercase;\">${status}</span></p>\n        ${message ? `<p><strong>Message:</strong> ${message}</p>` : ''}\n        <p><strong>Store:</strong> Kruidvat</p>\n        <p><strong>Completed at:</strong> ${new Date().toLocaleString('nl-NL')}</p>\n      </div>\n    </div>\n  `;\n} else if (status === 'failed' || errorMessage) {\n  subject = `❌ Kruidvat Scrape Failed (Job: ${jobId})`;\n  html = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <div style=\"background: linear-gradient(135deg, #dc3545, #fd7e14); color: white; padding: 20px; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px;\">🛒 Kruidvat Scrape Failed</h1>\n      </div>\n      <div style=\"background: #f8f9fa; padding: 20px; border-radius: 0 0 8px 8px; border: 1px solid #dee2e6;\">\n        <h2 style=\"color: #dc3545; margin-top: 0;\">❌ Failed</h2>\n        <p><strong>Job ID:</strong> <code style=\"background: #e9ecef; padding: 2px 6px; border-radius: 4px;\">${jobId}</code></p>\n        <p><strong>Status:</strong> <span style=\"color: #dc3545; font-weight: bold; text-transform: uppercase;\">${status}</span></p>\n        ${message ? `<p><strong>Message:</strong> ${message}</p>` : ''}\n        ${errorMessage ? `<div style=\"background: #f8d7da; border: 1px solid #f5c6cb; color: #721c24; padding: 10px; border-radius: 4px; margin: 10px 0;\"><strong>Error:</strong> ${errorMessage}</div>` : ''}\n        <p><strong>Products Scraped:</strong> ${resultsCount}</p>\n        <p><strong>Store:</strong> Kruidvat</p>\n        <p><strong>Failed at:</strong> ${new Date().toLocaleString('nl-NL')}</p>\n      </div>\n    </div>\n  `;\n} else if (status === 'cancelled' || status === 'stopped') {\n  subject = `⏹️ Kruidvat Scrape Stopped (Job: ${jobId})`;\n  html = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <div style=\"background: linear-gradient(135deg, #6c757d, #adb5bd); color: white; padding: 20px; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px;\">🛒 Kruidvat Scrape Stopped</h1>\n      </div>\n      <div style=\"background: #f8f9fa; padding: 20px; border-radius: 0 0 8px 8px; border: 1px solid #dee2e6;\">\n        <h2 style=\"color: #6c757d; margin-top: 0;\">⏹️ Stopped</h2>\n        <p><strong>Job ID:</strong> <code style=\"background: #e9ecef; padding: 2px 6px; border-radius: 4px;\">${jobId}</code></p>\n        <p><strong>Status:</strong> <span style=\"color: #6c757d; font-weight: bold; text-transform: uppercase;\">${status}</span></p>\n        ${message ? `<p><strong>Message:</strong> ${message}</p>` : ''}\n        <p><strong>Products Scraped:</strong> ${resultsCount}</p>\n        <p><strong>Store:</strong> Kruidvat</p>\n        <p><strong>Stopped at:</strong> ${new Date().toLocaleString('nl-NL')}</p>\n      </div>\n    </div>\n  `;\n} else {\n  subject = `ℹ️ Kruidvat Scrape Status Update (Job: ${jobId})`;\n  html = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <div style=\"background: linear-gradient(135deg, #17a2b8, #6f42c1); color: white; padding: 20px; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px;\">🛒 Kruidvat Scrape Update</h1>\n      </div>\n      <div style=\"background: #f8f9fa; padding: 20px; border-radius: 0 0 8px 8px; border: 1px solid #dee2e6;\">\n        <h2 style=\"color: #17a2b8; margin-top: 0;\">ℹ️ Status Update</h2>\n        <p><strong>Job ID:</strong> <code style=\"background: #e9ecef; padding: 2px 6px; border-radius: 4px;\">${jobId}</code></p>\n        <p><strong>Status:</strong> <span style=\"color: #17a2b8; font-weight: bold; text-transform: uppercase;\">${status}</span></p>\n        ${message ? `<p><strong>Message:</strong> ${message}</p>` : ''}\n        <p><strong>Products Scraped:</strong> ${resultsCount}</p>\n        <p><strong>Store:</strong> Kruidvat</p>\n        <p><strong>Updated at:</strong> ${new Date().toLocaleString('nl-NL')}</p>\n      </div>\n    </div>\n  `;\n}\n\nreturn { subject, html };"
      },
      "id": "analyze-kruidvat-job-status",
      "name": "Analyze Job Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Kruidvat Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Kruidvat Configuration": {
      "main": [
        [
          {
            "node": "Cleanup previous Kruidvat scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Kruidvat Scraper": {
      "main": [
        [
          {
            "node": "Format Kruidvat Job Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Kruidvat Job Info": {
      "main": [
        [
          {
            "node": "Wait 10 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 seconds": {
      "main": [
        [
          {
            "node": "Check Kruidvat Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Kruidvat Progress": {
      "main": [
        [
          {
            "node": "Route Based on Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Based on Completion": {
      "main": [
        [],
        [
          {
            "node": "Log Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Progress": {
      "main": [
        [
          {
            "node": "Wait 10 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup previous Kruidvat scraping": {
      "main": [
        [
          {
            "node": "Start Kruidvat Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Kruidvat Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Scraper Complete": {
      "main": [
        [
          {
            "node": "Analyze Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Job Status": {
      "main": [
        [
          {
            "node": "Send Kruidvat completion email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8263381-faa9-4572-862a-9ad2b4cc565b",
  "meta": {
    "instanceId": "ff86f1271f3774b5ec7ae16a0c838a4eb5e655bdb89bad020914df6993bd2aac"
  },
  "id": "L4ek3SQOBA0BTsxR",
  "tags": []
}