n8n-workflows/Plus Scraper.json
{
  "name": "Plus Scraper",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b19d3af-c8c4-4ba9-b398-293f9c4d18b6",
              "name": "scraper_api_url",
              "value": "http://plus_scraper_api:8000",
              "type": "string"
            },
            {
              "id": "6f6f8131-7431-4ab3-9744-0aa88b9474dd",
              "name": "max_products",
              "value": 100,
              "type": "number"
            },
            {
              "id": "e63f7c5c-892e-4bd6-bd6e-c5c1367aec1c",
              "name": "categories_limit",
              "value": null,
              "type": "string"
            },
            {
              "id": "cd3c904c-e963-41ff-966b-5cec7123265f",
              "name": "webhook_url",
              "value": "http://n8n:5678/webhook/scraper-complete",
              "type": "string"
            },
            {
              "id": "b2ff1ff3-db49-474a-bb8e-4202e320db88",
              "name": "priority",
              "value": "high",
              "type": "string"
            },
            {
              "id": "6422dc02-91b3-41d5-a19a-8da8b629fe68",
              "name": "notify_on_complete",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "5911a3c7-bacc-4ef1-b842-b69248f48896",
      "name": "Set Plus Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        144
      ],
      "notes": "Configure for Plus scraping - 200 products for testing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Plus Configuration').item.json.scraper_api_url }}/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "max_products",
              "value": "={{ $('Set Plus Configuration').item.json.max_products }}"
            },
            {
              "name": "categories_limit",
              "value": "={{ $('Set Plus Configuration').item.json.categories_limit }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $('Set Plus Configuration').item.json.webhook_url }}"
            },
            {
              "name": "priority",
              "value": "={{ $('Set Plus Configuration').item.json.priority }}"
            },
            {
              "name": "notify_on_complete",
              "value": "={{ $('Set Plus Configuration').item.json.notify_on_complete }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fb55ee8d-3168-46e3-9ce8-dbce5599102a",
      "name": "Start Plus Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        144
      ],
      "notes": "Start Plus scraper with proper JSON configuration"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cf66a8b-30bc-4912-bacc-69e732ccc2c5",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "ec83d9d3-5f66-4092-ace0-23132848383c",
              "name": "scraper_api_url",
              "value": "={{ $('Set Plus Configuration').item.json.scraper_api_url }}",
              "type": "string"
            },
            {
              "id": "44317888-08a0-4b09-a40d-57edadda4e35",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "fa79a5b2-3459-4fd3-8b31-0a8f107c4180",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b560fadb-ba9e-4e2b-a161-c81bb1368679",
      "name": "Format Plus Job Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        144
      ],
      "notes": "Format Plus job information"
    },
    {
      "parameters": {},
      "id": "e2d067b5-84c7-42ef-a27f-81f3b3beb269",
      "name": "Wait 5 seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        144
      ],
      "webhookId": "73d5ae76-d40f-4eea-b43a-e85294cab986",
      "notes": "Wait for Plus scraper to start processing"
    },
    {
      "parameters": {
        "url": "={{ $('Format Plus Job Info').item.json.scraper_api_url }}/progress",
        "options": {
          "timeout": 15000
        }
      },
      "id": "8ed01524-2ce4-473a-ae27-cf6a15f86c07",
      "name": "Check Plus Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        144
      ],
      "notes": "Use clean /progress endpoint for monitoring Plus scraper"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "idle",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "07abd95c-af84-4355-b139-bd08dd994f76"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6a679da4-b6e3-4b99-aa34-b0dd49262b08"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continue"
            }
          ]
        },
        "options": {}
      },
      "id": "9f61a0ef-a677-4eaf-ba7d-9647b72c51cd",
      "name": "Route Based on Completion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1568,
        144
      ],
      "notes": "Route based on API completion status for Plus scraper"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"progress_info\": \"Plus scrape in progress: {{ $json.products_scraped || 0 }} products scraped ({{ $json.progress_percent || 0 }}%)\",\n  \"job_id\": \"{{ $('Format Plus Job Info').first().json.job_id }}\",\n  \"current_task\": \"{{ $json.current_task || 'Processing...' }}\"\n}",
        "options": {}
      },
      "id": "d4b99409-d314-42d0-9090-94fddb0aa838",
      "name": "Log Progress",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        160
      ],
      "notes": "Log Plus scraping progress from /progress endpoint"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "12991296-70b4-457f-8d46-3ed50808ec87",
      "name": "Manual Trigger",
      "notes": "Manual trigger for testing"
    },
    {
      "parameters": {
        "command": "rm -f /shared-data/results/plus_* /shared-data/jobs/plus_* /shared-data/logs/plus_* && echo \"Plus cleanup completed\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        432,
        144
      ],
      "id": "9584a38d-3957-4b81-8fe7-225fc16bfb76",
      "name": "Cleanup previous Plus scraping"
    },
    {
      "parameters": {
        "fromEmail": "hello@omfietser.nl",
        "toEmail": "hello@coolbox.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1856,
        432
      ],
      "id": "da55596e-44ee-4953-bcbc-62270dd73e7c",
      "name": "Send Plus completion email",
      "webhookId": "0b289efb-0a6d-46d0-81c4-4937af2b753d",
      "credentials": {
        "smtp": {
          "id": "pEwphKw4tqqGXXjt",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        144
      ],
      "id": "3a656097-a871-4b61-84fa-bcf71dfc1f69",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scraper-complete",
        "options": {}
      },
      "id": "webhook-scraper-complete-plus",
      "name": "Webhook - Scraper Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1344,
        432
      ],
      "webhookId": "558d1d0f-7762-4c6e-822a-d2e694489e6b"
    },
    {
      "parameters": {
        "jsCode": "// Extract from nested body if it exists, otherwise use direct payload\nconst payload = $input.all()[0].json;\nconst data = payload.body || payload;\n\n// Extract job information\nconst jobId = data.job_id || 'unknown';\nconst status = data.status || 'unknown';\nconst resultsCount = data.results_count || data.products_scraped || 0;\nconst message = data.message || '';\nconst errorMessage = data.error || '';\n\n// Create status-specific content\nlet subject, html;\n\nif (status === 'completed' && !errorMessage) {\n  subject = `✅ Plus Scrape Completed Successfully (${resultsCount} products)`;\n  html = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <div style=\"background: linear-gradient(135deg, #28a745, #20c997); color: white; padding: 20px; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px;\">🛒 Plus Scrape Completed</h1>\n      </div>\n      <div style=\"background: #f8f9fa; padding: 20px; border-radius: 0 0 8px 8px; border: 1px solid #dee2e6;\">\n        <h2 style=\"color: #28a745; margin-top: 0;\">✅ Success!</h2>\n        <p><strong>Products Scraped:</strong> <span style=\"color: #28a745; font-size: 18px; font-weight: bold;\">${resultsCount}</span></p>\n        <p><strong>Job ID:</strong> <code style=\"background: #e9ecef; padding: 2px 6px; border-radius: 4px;\">${jobId}</code></p>\n        <p><strong>Status:</strong> <span style=\"color: #28a745; font-weight: bold; text-transform: uppercase;\">${status}</span></p>\n        ${message ? `<p><strong>Message:</strong> ${message}</p>` : ''}\n        <p><strong>Store:</strong> Plus Supermarket</p>\n        <p><strong>Completed at:</strong> ${new Date().toLocaleString('nl-NL')}</p>\n      </div>\n    </div>\n  `;\n} else if (status === 'failed' || errorMessage) {\n  subject = `❌ Plus Scrape Failed (Job: ${jobId})`;\n  html = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <div style=\"background: linear-gradient(135deg, #dc3545, #fd7e14); color: white; padding: 20px; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px;\">🛒 Plus Scrape Failed</h1>\n      </div>\n      <div style=\"background: #f8f9fa; padding: 20px; border-radius: 0 0 8px 8px; border: 1px solid #dee2e6;\">\n        <h2 style=\"color: #dc3545; margin-top: 0;\">❌ Failed</h2>\n        <p><strong>Job ID:</strong> <code style=\"background: #e9ecef; padding: 2px 6px; border-radius: 4px;\">${jobId}</code></p>\n        <p><strong>Status:</strong> <span style=\"color: #dc3545; font-weight: bold; text-transform: uppercase;\">${status}</span></p>\n        ${message ? `<p><strong>Message:</strong> ${message}</p>` : ''}\n        ${errorMessage ? `<div style=\"background: #f8d7da; border: 1px solid #f5c6cb; color: #721c24; padding: 10px; border-radius: 4px; margin: 10px 0;\"><strong>Error:</strong> ${errorMessage}</div>` : ''}\n        <p><strong>Products Scraped:</strong> ${resultsCount}</p>\n        <p><strong>Store:</strong> Plus Supermarket</p>\n        <p><strong>Failed at:</strong> ${new Date().toLocaleString('nl-NL')}</p>\n      </div>\n    </div>\n  `;\n} else if (status === 'cancelled' || status === 'stopped') {\n  subject = `⏹️ Plus Scrape Stopped (Job: ${jobId})`;\n  html = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <div style=\"background: linear-gradient(135deg, #6c757d, #adb5bd); color: white; padding: 20px; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px;\">🛒 Plus Scrape Stopped</h1>\n      </div>\n      <div style=\"background: #f8f9fa; padding: 20px; border-radius: 0 0 8px 8px; border: 1px solid #dee2e6;\">\n        <h2 style=\"color: #6c757d; margin-top: 0;\">⏹️ Stopped</h2>\n        <p><strong>Job ID:</strong> <code style=\"background: #e9ecef; padding: 2px 6px; border-radius: 4px;\">${jobId}</code></p>\n        <p><strong>Status:</strong> <span style=\"color: #6c757d; font-weight: bold; text-transform: uppercase;\">${status}</span></p>\n        ${message ? `<p><strong>Message:</strong> ${message}</p>` : ''}\n        <p><strong>Products Scraped:</strong> ${resultsCount}</p>\n        <p><strong>Store:</strong> Plus Supermarket</p>\n        <p><strong>Stopped at:</strong> ${new Date().toLocaleString('nl-NL')}</p>\n      </div>\n    </div>\n  `;\n} else {\n  subject = `ℹ️ Plus Scrape Status Update (Job: ${jobId})`;\n  html = `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <div style=\"background: linear-gradient(135deg, #17a2b8, #6f42c1); color: white; padding: 20px; border-radius: 8px 8px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 24px;\">🛒 Plus Scrape Update</h1>\n      </div>\n      <div style=\"background: #f8f9fa; padding: 20px; border-radius: 0 0 8px 8px; border: 1px solid #dee2e6;\">\n        <h2 style=\"color: #17a2b8; margin-top: 0;\">ℹ️ Status Update</h2>\n        <p><strong>Job ID:</strong> <code style=\"background: #e9ecef; padding: 2px 6px; border-radius: 4px;\">${jobId}</code></p>\n        <p><strong>Status:</strong> <span style=\"color: #17a2b8; font-weight: bold; text-transform: uppercase;\">${status}</span></p>\n        ${message ? `<p><strong>Message:</strong> ${message}</p>` : ''}\n        <p><strong>Products Scraped:</strong> ${resultsCount}</p>\n        <p><strong>Store:</strong> Plus Supermarket</p>\n        <p><strong>Updated at:</strong> ${new Date().toLocaleString('nl-NL')}</p>\n      </div>\n    </div>\n  `;\n}\n\nreturn { subject, html };"
      },
      "id": "analyze-plus-job-status",
      "name": "Analyze Job Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Plus Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Plus Configuration": {
      "main": [
        [
          {
            "node": "Cleanup previous Plus scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Plus Scraper": {
      "main": [
        [
          {
            "node": "Format Plus Job Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Plus Job Info": {
      "main": [
        [
          {
            "node": "Wait 5 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 seconds": {
      "main": [
        [
          {
            "node": "Check Plus Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Plus Progress": {
      "main": [
        [
          {
            "node": "Route Based on Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Based on Completion": {
      "main": [
        [],
        [
          {
            "node": "Log Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Progress": {
      "main": [
        [
          {
            "node": "Wait 5 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup previous Plus scraping": {
      "main": [
        [
          {
            "node": "Start Plus Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Plus Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Scraper Complete": {
      "main": [
        [
          {
            "node": "Analyze Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Job Status": {
      "main": [
        [
          {
            "node": "Send Plus completion email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f08b89d5-2949-465e-b742-19c9b6aa9351",
  "meta": {
    "instanceId": "ff86f1271f3774b5ec7ae16a0c838a4eb5e655bdb89bad020914df6993bd2aac"
  },
  "id": "cT7ztGwvSI8ZRGEb",
  "tags": []
}